<% title t('headings.work_processes') %>

<table>
  <tr>
    <th><%= Project.human_name %></th>
    <th><%= WorkProcess.human_attribute_name('component_type') %></th>
    <th><%= WorkProcess.human_attribute_name('activity') %></th>
    <th><%= WorkProcess.human_attribute_name('location') %></th>
  </tr>
  <% for work_process in @work_processes %>
    <tr>
      <td><%=h work_process.project.name %></td>
      <td><%=h work_process.component_type %></td>
      <td><%=h work_process.activity %></td>
      <td><%=h work_process.location %></td>
      <td><%= link_to t('navigation.show'), work_process %></td>
      <td><%= link_to t('navigation.edit'), edit_work_process_path(work_process) %></td>
      <td><%= link_to t('navigation.destroy'), work_process, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('new.work_process'), new_work_process_path %></p>
