<% title h("Produktionskort") %>
<div id="left">
<div id="stemdata">
  <h2><%=h @work_process.activity %></h2>
  <ul>
    <li><%=h @work_process.project.title_number %> <%=h @work_process.project.name %></li>
    <li><%=h @work_process.project.address %></li>
    <% for person in @work_process.project.people do %>
    <li><%=h person.kind %>: <%=h person.name %> - <%=h person.mobile_tel %></li>
    <%- end -%>
  </ul>
</div>
<div id="site" class="info_box">
  <h2>Byggeplads</h2>
</div>
<div id="planning" class="info_box">
  <h2>Planlægning og opfølgning</h2>
</div>
</div>
<div id="right">
<div id="assembly_directions" class="info_box">
  <h2>Montage</h2>
</div>
<div id="equipment" class="info_box">
  <h2>Materiel</h2>
</div>
<div id="materials" class="info_box">
  <h2>Materialer</h2>
</div>
<div id="staff" class="info_box">
  <h2>Mandskab</h2>
</div>
</div>
<div class="clear"> </div>