<% title 'Produktionskort' %>
<% quicklinks [['Download', new_work_process_export_path(@work_process)],
               ['Rediger', edit_work_process_path(@work_process)]] %>
<% sidebar [['Stamdata',                  '#', {:class => 'active tab', :rel => 'pane_stemdata'}],
            ['Byggeplads',                '#', {:class => 'tab', :rel => 'pane_buildingsite'}],
            ['Planlægning / opfølgning',  '#', {:class => 'tab', :rel => 'pane_planning_and_follow_up'}],
            ['Aktivitet',                 '#', {:class => 'tab', :rel => 'pane_activity'}],
            ['Arbejdsmetode',             '#', {:class => 'tab', :rel => 'pane_work_method'}],
            ['Materiel',                  '#', {:class => 'tab', :rel => 'pane_equipment'}],
            ['Materialer',                '#', {:class => 'tab', :rel => 'pane_materials'}],
            ['Mandskab',                  '#', {:class => 'tab', :rel => 'pane_men'}]] %>
<div id="left_print_col">
<div class="pane content" id="pane_stemdata">
  <h3 class="first"><%= @work_process.activity %></h3>
  <%= @work_process.project.title_number %> <%= @work_process.project.name %><br />

  <h3>Adresse</h3>
  <%= @work_process.project.address %>

  <h3>Personer</h3>
  <dl>
    <% for person in @work_process.project.people do %>
    <dt><%= person.kind %></dt>
    <dd><%= person.name %> - <%= person.mobile_tel %></dd>
    <% end %>
  </dl>
</div>

<div class="pane content" style="display:none" id="pane_buildingsite">
  <h3>Byggeplads</h3>
  <%= render 'group_referrals', :ref_arr => @work_process.project.site_referrals %>

  <h3>Bemærkninger</h3>
  <ul>
    <% for focus in @work_process.project.site_focuses do %>
    <li><%= focus.description %> (<%= focus.kind %>)</li>
    <% end %>
    <% for operation in @work_process.project.site_operations do %>
    <li><%= operation.description %> (<%= operation.kind %>)</li>
    <% end %>
  </ul>
</div>

<div class="pane content" style="display:none" id="pane_planning_and_follow_up">
  <h3>Planlægning og opfølgning</h3>
  <dl>
    <dt>Planlagt start</dt><dd><%= @work_process.planned_start.to_s(:short) unless @work_process.planned_start.blank? %></dd>
    <dt>Planlagt slut</dt><dd><%= @work_process.planned_end.to_s(:short) unless @work_process.planned_end.blank? %></dd>
    <dt>Forudgående</dt><dd><%= @work_process.preceding %></dd>
    <dt>Efterfølgende</dt><dd><%= @work_process.subsequent %></dd>
  </dl>
  <%= render 'group_referrals', :ref_arr => @work_process.project.planning_referrals %>
</div>

<div class="pane content" style="display:none" id="pane_activity">
  <h3>Montage</h3>
  <dl>
    <dt>Aktivitet</dt><dd><%= @work_process.activity %></dd>
    <dt>Placering</dt><dd><%= @work_process.location %></dd>
    <dt>Levering senest</dt><dd><%= @work_process.project_delivery_time %></dd>
    <dt>Ansvarlig</dt><dd><%= @work_process.project_delivery_person %></dd>
    <dt><%= @work_process.unit %></dt><dd><%= @work_process.value %></dd>
  </dl>
  <%= render 'group_referrals', :ref_arr => @work_process.activity_referrals %>
</div>
</div>

<div id="right_print_col">
<div class="pane content" style="display:none" id="pane_work_method">
  <h3>Krav</h3>
  <ul>
    <% for requirement in @work_process.requirements do %>
    <li><%= requirement.kind %><%= " #{requirement.component}:" unless requirement.component.blank? %><%= " #{requirement.description}" unless requirement.description.blank? %></li>
    <% end %>
  </ul>

  <h3>Værnemidler</h3>
  <ul>
    <% for protection in @work_process.protections do %>
    <li><%= "#{protection.kind}:" %><%= " #{protection.notes}" unless protection.notes.blank? %><%= " #{protection.usage}" unless protection.usage.blank? %></li>
    <% end %>
  </ul>
</div>

<div class="pane content" style="display:none" id="pane_equipment">
  <h3>Materiel</h3>
  <%= render 'group_referrals', :ref_arr => @work_process.equipment_referrals %>

  <h3>Process specifikt materiel</h3>
  <ul>
    <% for equipment in @work_process.equipment do %>
    <li><%= "#{equipment.kind}:" %><%= " #{equipment.notes}" unless equipment.notes.blank? %></li>
    <% end %>
  </ul>
</div>

<div class="pane content" style="display:none" id="pane_materials">
  <h3>Materialer</h3>
  <% for material_package in @work_process.material_packages do %>
    <h3>Materialepakke, unitnr.: <%= material_package.unit_number %></h3>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Antal</th>
          <th>Vægt</th>
          <th>Mål</th>
          <th>Længde</th>
        </tr>
      </thead>
      <tbody>
        <% for material in material_package.materials do %>
        <tr class="<%= cycle("odd", "even") -%>"><td><%= material.kind %></td><td class="right"><%= material.count %></td><td class="right"><%= material.weight %></td><td class="right"><%= material.measures %> <%= material.unit %></td><td class="right"><%= material.lengths %> <%= material.unit %></td></tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render 'group_referrals', :ref_arr => @work_process.material_referrals %>
</div>

<div class="pane content" style="display:none" id="pane_men">
  <h3>Mandskab</h3>
  <dl>
    <% unless @work_process.social_responsibility.blank? %><dt>Socialt ansvar</dt><dd><%= @work_process.social_responsibility %></dd><% end %>
    <% unless @work_process.piecework_rate.blank? %><dt>Akkord</dt><dd><%= @work_process.piecework_rate %></dd><% end %>
    <% unless @work_process.hourly_rate.blank? %><dt>Timeløn</dt><dd><%= @work_process.hourly_rate %></dd><% end %>
    <dt>Bonus</dt><dd><%= @work_process.bonus ? "Ja" : "Nej" %></dd>
    <dt>Incitamentaftale</dt><dd><%= @work_process.incentive_deal ? "Ja" : "Nej" %></dd>
    <% unless @work_process.allowance.blank? %><dt>Godtgørelse</dt><dd><%= @work_process.allowance %></dd><% end %>
    <% unless @work_process.time_of_day.blank? %><dt>Tid på dagen</dt><dd><%= @work_process.time_of_day %></dd><% end %>
    <dt>Ekstra arbejde</dt><dd><%= @work_process.extra_work ? "Ja" : "Nej" %></dd>
  </dl>
  <%= render 'group_referrals', :ref_arr => @work_process.crew_referrals %>

  <h3>Kompetencer</h3>
  <ul>
    <% for qualification in @work_process.qualifications do %>
    <li><%= "#{qualification.kind}:" %><%= " #{qualification.notes}" unless qualification.notes.blank? %><%= " (Immatriel møntfod #{qualification.immaterial_currency})" unless qualification.immaterial_currency.blank? %></li>
    <% end %>
  </ul>
</div>
</div>