<% title "Produktionskort - Entreprenørens dataenhed" %>

<h2>Demonstrator: Opret, importer, eksporter, og udskriv produktionskort</h2>
<%= image_tag("demoforside.gif", :class => 'demo-front') %>
<p>Produktionskortet er entreprenørens struktur, hvor information fra en række parter kan samles. En proces - et produktionskort.</p>

<p>Produktionskortet er defineret i en standardiseret data-struktur (XML). Strukturen kan bruges til at gemme data i.</p>

<p>Vi har udviklet en demonstrator. Formålet er at demonstrere hvordan produktionskort kan genereres umiddelbart, også uden tilknytning til en 3D objektmodel eller andre forudsætninger.</p>

<p>Demonstratoren er et simpelt værktøj der er baseret på produktionskortets struktur. Mere avancerede systemer og værktøjer vil kunne bygges ud fra samme struktur.</p>

<p>Med demonstratoren kan du oprette dine egne produktionskort og gemme dem som XML-filer til senere viderebearbejdning.</p>

<p>XML-strukturen kan bruges til at bygge nye fleksible systemer op omkring, så entreprenøren kan få nye fleksible værktøjer til rådighed.</p>
<div class="clear"></div>

<div id="frontpage-create-work-process"><%= link_to t('new.work_process'), new_work_process_path %></div>

<% unless @work_processes.blank? %>
<h2>Eksisterende produktionskort</h2>
<table>
  <tr>
    <th><%= Project.human_name %></th>
    <th><%= WorkProcess.human_attribute_name('component_type') %></th>
    <th><%= WorkProcess.human_attribute_name('activity') %></th>
    <th><%= WorkProcess.human_attribute_name('location') %></th>
  </tr>
  <% for work_process in @work_processes %>
    <tr>
      <td><%=h work_process.project.name %></td>
      <td><%=h work_process.component_type %></td>
      <td><%=h work_process.activity %></td>
      <td><%=h work_process.location %></td>
      <td><%= link_to t('navigation.show'), work_process %></td>
      <td><%= link_to t('navigation.edit'), edit_work_process_path(work_process) %></td>
      <td><%= link_to t('navigation.destroy'), work_process, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Se alle", work_processes_path %>
<% end %>