<% sidebar [['Stamdata',      '#', {:class => 'active tab', :rel => 'pane_stemdata'}],
            ['Personer',      '#', {:class => 'tab', :rel => 'pane_people'}],
            ['Møder',         '#', {:class => 'tab', :rel => 'pane_meetings'}],
            ['Godkendelser',  '#', {:class => 'tab', :rel => 'pane_approvals'}],
            ['Hensyn',        '#', {:class => 'tab', :rel => 'pane_attentions'}],
            ['Planlægning',   '#', {:class => 'tab', :rel => 'pane_planning'}],
            ['Byggeplads',    '#', {:class => 'tab', :rel => 'pane_buildingsite'}],
            ['Byggeweb',      '#', {:class => 'tab', :rel => 'pane_byggeweb'}]], :submit => ['Gem', 'project_form'] %>

<%= semantic_form_for @project, :html => {:id => 'project_form', :multipart => true} do |f| %>
  <%= f.inputs :class => 'pane', :id => 'pane_stemdata' do %>
    <h3>Stamdata</h3>
    <%= f.inputs :name, :address, :title_number, :postal_code, :apv_location, :health_safety_decided_by_owner,
                 :health_safety_decided_by_contractor, :health_safety_plan, :health_safety_plan_location %>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_people' do %>
    <h3>Personer</h3>

    <fieldset class="table_group">
      <%= f.semantic_fields_for :people do |builder| %>
        <%= render 'person_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj person", f, :people %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_meetings' do %>
    <h3>Møder</h3>

    <fieldset class="table_group">
      <%= f.semantic_fields_for :meetings do |builder| %>
        <%= render 'meeting_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj møde", f, :meetings %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_approvals' do %>
    <h3>Godkendelser</h3>

    <fieldset class="table_group">
      <%= f.semantic_fields_for :approvals do |builder| %>
        <%= render 'approval_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj godkendelse", f, :approvals %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_attentions' do %>
    <h3>Hensyn</h3>

    <fieldset class="table_group">
      <%= f.semantic_fields_for :attentions do |builder| %>
        <%= render 'attention_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj hensyn", f, :attentions %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_planning' do %>
    <h3>Planlægning</h3>

    <fieldset class="table_group">
      <%= f.semantic_fields_for :planning_referrals do |builder| %>
        <%= render 'planning_referral_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj henvisning", f, :planning_referrals %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_buildingsite' do %>
    <h3>Byggeplads</h3>

    <fieldset class="table_group"><legend><span>Henvisninger</span></legend>
      <%= f.semantic_fields_for :site_referrals do |builder| %>
        <%= render 'site_referral_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj henvisning", f, :site_referrals %></p>
    </fieldset>

    <fieldset class="table_group"><legend><span>Byggepladsfokus</span></legend>
      <%= f.semantic_fields_for :site_focuses do |builder| %>
        <%= render 'site_focus_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj fokusområde", f, :site_focuses %></p>
    </fieldset>

    <fieldset class="table_group"><legend><span>Byggepladsdrift</span></legend>
      <%= f.semantic_fields_for :site_operations do |builder| %>
        <%= render 'site_operation_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj driftsinformation", f, :site_operations %></p>
    </fieldset>

    <fieldset class="table_group"><legend><span>Materiel</span></legend>
      <%= f.semantic_fields_for :equipment do |builder| %>
        <%= render 'equipment_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Tilføj materiel", f, :equipment %></p>
    </fieldset>
  <% end %>

  <%= f.inputs :class => 'pane', :style => 'display:none', :id => 'pane_byggeweb' do %>
    <h3>Byggeweb</h3>
    <%= f.inputs do %>
      <% if current_user && current_user.byggeweb_username %>
      <%= f.input :byggeweb_project, :label => 'Projekt', :as => :select, :collection => ByggewebHelper::Byggeweb.get_projects(current_user) %>
      <% else %>
      <%= f.input :byggeweb_project, :label => 'Projekt' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
