<% title 'Byggesager' %>

<h3>Oversigt</h3>

<% if @projects.empty? %>
<p>Der er p.t. ikke oprettet nogen byggesager.</p>
<p><%= link_to 'Opret en med det samme!', new_project_path %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= Project.human_attribute_name('name') %></th>
      <th><%= Project.human_attribute_name('address') %></th>
      <th><%= Project.human_attribute_name('title_number') %></th>
      <th><%= Project.human_attribute_name('postal_code') %></th>
      <th></th>
    </tr>
  </thead>
  <% for project in @projects %>
  <tbody>
    <tr class="<%= cycle("odd", "even") -%>">
      <td><%= link_to project.name, switch_projects_path(:id => project.id) %></td>
      <td><%= project.address %></td>
      <td><%= project.title_number %></td>
      <td><%= project.postal_code %></td>
      <td class="action" style="white-space:nowrap">
        <%= link_to t('navigation.edit'), edit_project_path(project), :class => 'edit' %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<% end %>
