<% title 'Download produktionskort' %>
<% quicklinks [['Tilbage', work_process_path(@work_process)]] %>

<div class="content">
  <%= form_tag work_process_export_path(@work_process) do %>
    <h3>Indholdsfortegnelse</h3>
    <p>
      Indholdsfortegnelsen redigeres i feltet neden for. Hver linie bliver til punkt i
      den endelige indholdsfortegnelse. Hvert punkt bliver desuden automatisk nummereret
      fortløbende.
    </p>
    <%= text_area(:pdf, :table_of_content, :size => "60x15", :value => "Tegningsliste, Arkitekt
Brandplaner
Væg- og døroversigt / Dørliste
Snit - Planer - Opstalter
Facadekomplettering
Beskrivelser
Tidsplan
Byggepladsplan - Adgangsveje, Affalds- og materialecontainere
Montagevejledning
Telefonliste - Byggeleder og formand
Materialelister
Tegningsliste Ingeniør
Føringsveje Installationsfag
Rumskema
Aktivitetsnumre
APV
KS - Egenkontrol
Slutkontrol
Nedrivning, eksisterende forhold
Variabelt tekstfelt til andre emner") %>

    <h3>Vælg bilag</h3>

    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Type</th>
          <th>Tekst</th>
          <th>Vedhæftning</th>
        </tr>
      </thead>
      <tbody>
      <% for attachment in @work_process.attachments %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= check_box_tag "attachments[]", attachment.attachment.url %></td>
          <td><%= 
            case attachment.class.to_s
            when 'PlanningReferral'
              'Projekt planlægning'
            when 'SiteReferral'
              'Byggeplads'
            when 'Approval'
              'Godkendelse'
            when 'ActivityReferral'
              'Aktivitet'
            when 'EquipmentReferral'
              'Materiel'
            when 'MaterialReferral'
              'Materialer'
            when 'CrewReferral'
              'Mandskab'
            end
          %></td>
          <td><%= attachment.is_a?(Approval) ? attachment.kind : attachment.notes %></td>
          <td><%= link_to(attachment.attachment_file_name, attachment.attachment.url) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p><%= submit_tag 'Download' %></p>
  <% end %>
</div>
