<% title 'Generer PDF' %>
<% quicklinks [['Tilbage', work_process_path(@work_process)]] %>

<div class="content">
  <h3>Vælg bilag</h3>

  <%= form_tag work_process_pdf_path(@work_process) do %>
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Type</th>
          <th>Tekst</th>
          <th>Vedhæftning</th>
        </tr>
      </thead>
      <tbody>
      <% for attachment in @work_process.attachments %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= check_box_tag "attachments[]", attachment.attachment.url %></td>
          <td><%= 
            case attachment.class.to_s
            when 'PlanningReferral'
              'Projekt planlægning'
            when 'SiteReferral'
              'Byggeplads'
            when 'Approval'
              'Godkendelse'
            when 'ActivityReferral'
              'Aktivitet'
            when 'EquipmentReferral'
              'Materiel'
            when 'MaterialReferral'
              'Materialer'
            when 'CrewReferral'
              'Mandskab'
            end
          %></td>
          <td><%= attachment.is_a?(Approval) ? attachment.kind : attachment.notes %></td>
          <td><%= link_to(attachment.attachment_file_name, attachment.attachment.url) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p><%= submit_tag 'Generer' %></p>
  <% end %>
</div>
